/*
    Loader
*/
div.loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    border-bottom: 3px solid #6b3399;
    width: 15px;
    height: 15px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-left: 13px;
    margin-top: 2px;
}

i.loader {
    transform: translate(40px,-16px);
    z-index: 1;
    position: absolute;
    color: #67ace9;
}


/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/*Links*/
a {
    color: #367db4;
    cursor: pointer;
}

a:hover, a:focus {
    color: #48A7F1;
    text-decoration: underline;
}

