body{
    background: url(../img/mach-bg.jpg);
    background-size: unset;
    padding: 70px;
    padding-top: 50px;
}

.navbar-inverse {
    background-color: #000000;
    border-color: #48A7F1;
    background: linear-gradient(#0b050ebd, #070b10);
}

.container-fluid,
.navbar-inverse .navbar-collapse, 
.navbar-inverse .navbar-form {
    border-color: #fff0;
}

.navbar-inverse .navbar-nav > li > a{
    color: #ecebeb;
}

.navbar-inverse .navbar-nav > .active > a{
    background-color: #06114f;
    color: #f7b864;
    background: linear-gradient(#2f2f2fab, #242424, #2f2f2fab);
}

.navbar-inverse .navbar-brand {
    color: #48A7F1;
}

.navbar-inverse .navbar-brand .orange{
    color: #FCB965;
    font-weight: 300;
}

a.navbar-brand {
    font-family: roboto;
    font-size: 32px;
    font-weight: 100;
}

ul.dropdown-menu a {
    cursor: pointer;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
span.social {
    padding-left: 10px;
}

.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
.btn-google{
    color: #fff;
    background-color:#DD4B39;
}
.btn-google:hover{
    color: #fff;
    background-color:#CE2C17;
}
.btn-github{
    color: #fff;
    background-color:#444444;
}
.btn-github:hover{
    color: #fff;
    background-color:#222222;
}
.btn-search {
    color: #333;
    background-color: #aaa9a9;
    border-color: #2cd1f8;
    background: linear-gradient(#d5d5d5,#aaa9a9,#d1d1d1);
    width: -webkit-fill-available;
}
.btn-search:hover {
    color: #333;
    background-color: #aaa9a9;
    border-color: #2cd1f8;
    background: linear-gradient(#d5d5d5,#aaa9a9,#d1d1d1);
    width: -webkit-fill-available;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}


.pulse {
    animation: pulse 0.4s ease infinite
}

@keyframes pulse {
    0% {
        transform: scale(1);
        transform-origin: center center;
    }
    50% {
        transform: scale(1.6);
        transform-origin: center center;
        color: #48A7F1;
    }
    50% {
        transform: scale(1);
        transform-origin: center center;
    }
}