

.tabulator, .tabulator .tabulator-tableHolder {
	background-color: #dbdbdbd1;
  	background: linear-gradient(#595757b3,#b9b9b961);
}

/*
	Toolbar
*/

div.toolbar {
	padding: 0;
	min-height: 25px;
}

div.toolbar i{
	cursor: pointer;
}

div.toolbar .col-md-2,
div.toolbar .col-md-3,
div.toolbar .col-md-4 {
	padding: 0;
	text-align: center;
}

span.toolbar {
	font-size: 13px;
	padding-right: 5px;
}

.toolbar input, button, select, textarea {
	font-size: 12px;    
    display: inline;
    border-radius: 5px;
}


.toolbar b.function-type {
	font: 15px bold italic courier;
}

