

.tabulator, .tabulator .tabulator-tableHolder {
	background-color: #dbdbdbd1;
  	background: linear-gradient(#595757b3,#b9b9b961);
}

/*
	Toolbar
*/

div.toolbar {
	padding: 0;
	min-height: 25px;
	margin-bottom: 0;
}

div.toolbar i{
	cursor: pointer;
}

div.toolbar .col-md-2,
div.toolbar .col-md-3,
div.toolbar .col-md-4 {
	padding: 0;
	text-align: center;
}

span.toolbar {
	font-size: 13px;
	padding-right: 5px;
}

.toolbar input, button, select, textarea {
	font-size: 12px;    
    display: inline;
    border-radius: 5px;
}


.toolbar b.function-type {
	font: 15px bold italic courier;
}

#DataType {
	width: 55%;
}

.buttons {
	text-align: center;
    /*background: linear-gradient(#d6cece,#9f9d9d,#bcbaba);*/
    border-radius: 25px;
}

button:hover, #submit:hover{
	/*border-radius: 10px;*/
	border-style: inset;
    border-width: 1px;
    background: linear-gradient(white,white,#868484);
}

button {
	cursor: pointer;
}

i.fa {
	cursor: initial;
}

#Files, #Labels {
	cursor: pointer;
}

#DataType {
	cursor: text;
}

/*
	Drop Down toolbar menu
*/
.dropbtn {
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #9bd7f963;
    color: #7c3ffd99;
    box-shadow: inset 0px 0px 5px 1px #717172;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 115px;
    max-height: 200px;
    overflow: scroll;
    box-shadow: -4px 4px 16px 4px rgba(0, 0, 0, 0.29);
    z-index: 1;
    transform: translate(-90px,6.5px);
    border-width: 2.5px;
    border-style: outset;    
}
    
.dropdown-content i {
    color: #215d98;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 13px;
    text-align: left;
}

.dropdown i:hover {background-color: #ddd}

.show {display:block;}


/*
	Jconfirm
*/

select.jconfirm-select {
	font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    margin-right: 4px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-transition: background .1s;
    transition: background .1s;
    padding: 10px 20px;
    vertical-align: top;
    background: #5d1dff9e;
    color: white;
    width: 80px;
    align-items: center;
 }

 text.jconfirm-err {
 	text-align: center;
    font-style: oblique;
    font-size: 12px;
    color: #ff4a4aed;
    margin-left: 20px;
 }


div.evals {
	text-align: left;
	margin-left: 30%;
}

div.evals b {
	margin-right: 10px;
}

/*
	Loader
*/
div.loader {
	border: 3px solid #f3f3f3;
	border-radius: 50%;
	border-top: 3px solid #3498db;
	border-bottom: 3px solid #6b3399;
	width: 15px;
	height: 15px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	margin-left: 13px;
	margin-top: 2px;
}

i.loader {
	transform: translate(40px,-16px);
    z-index: 1;
    position: absolute;
    color: #67ace9;
}


/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



