<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">   
    
    <!--jQuery-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>    

    <!-- Bootstrap Core CSS -->    
    <link href=https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css rel="stylesheet">
    <link href=static/css/bootstrap.css rel="stylesheet">        
    <script src="static/js/bootstrap.js"></script>
    <script src="http://getbootstrap.com/assets/js/docs.min.js"></script>

    <!-- Custom CSS -->
    <link href="static/css/sb-admin.css" rel="stylesheet"> 
    <link href="static/css/custom-style.css" rel="stylesheet">  

    <!-- Custom Fonts -->
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- d3.v4 & Sequential Color Scales (Such as interpolateInferno()) -->
    <script src="static/js/d3.v4.min.js"></script>
    <script src="static/js/d3-scale-chromatic.v0.3.min.js"></script> 

    <!-- JQuery / JQuery UI -->
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">       
    
    <!-- Tabulator -->
    <script type="text/javascript" src="static/tabulator/js/moment.min.js"></script>
    <script type="text/javascript" src="static/tabulator/js/tabulator.min.js"></script>
    <link href="static/tabulator/css/tabulator.min.css" rel="stylesheet">    

    <!-- Navbar -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">    
    <link href="static/css/navbar.css" rel="stylesheet"> 

    <!-- JQuery Toolbar -->
    <script type="text/javascript" src="static/toolbar/jquery.toolbar.min.js"></script>
    <link href="static/toolbar/jquery.toolbar.css" rel="stylesheet">    

    <!-- Global -->
    <script type="text/javascript" src="static/js/global.js"></script>

    <!-- Alerts -->
    <script type="text/javascript" src="static/alert/jquery-confirm.js"></script>
    <link href="static/alert/jquery-confirm.css" rel="stylesheet">        
    <!-- https://craftpip.github.io/jquery-confirm/ -->

    <!-- Storage -->
    <script type="text/javascript" src="static/js/storage.js"></script>

  </head>
  <body>       
    {% block content %}                    
    {% endblock %}                  
  </body>  
</html>