<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">        
<!-- Style -->
<link href="static/css/main.css" rel="stylesheet">  
</head>
<div class="main-img">
<div class="header">
  <h3> tensor <span class="orange">Floss</span> </h3>
  <p> Build complex Deep Learning models with zero lines of code </p>
  </div>
<div class="login">
  {{ form.Login }} 
  <button type="button" id="login" name="login"><i class="fa fa-cog"> Login </i></button><br>
  <p class="signup">No account? Sign up <a href="/signup">here</a>.</p>
</div>
</div>
<script src="static/js/main.js"></script> 

{% endblock %}
