<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<head>    
    <!-- Status Page -->
    <link href="static/css/status.css" rel="stylesheet">  
</head>

<script type="text/javascript">
  $(document).ready(function(){
    user = localStorage.username;
    client.get('/_get_jobs?user='+user, function(response) {
      // do something with response
      $("#example-table").tabulator("setData", JSON.parse(response));
    });
    $("#username").val(localStorage.username)    
  });  
</script>

<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home">DeepAPI</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/login">Login</a></li>
        <li><a href="/">Build New</a></li>
        <li class="active"><a href="/status">Job Status</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Job Templates <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">InceptNet</a></li>
            <li><a href="#">ResNet</a></li>
            <li><a href="#">AlexNet</a></li>
            <li class="divider"></li>
            <li>
              <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-search">Search</button>
            </form>
            </li>            
          </ul>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dd-login"><b>Login</b> <span class="caret"></span></a>
            <ul id="login-dp" class="dropdown-menu">
                <li>
                     <div class="row">
                            <div class="col-md-12">
                                <div class="social-buttons">
                                    <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i><span class="social">Facebook</span></a>
                                    <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i><span class="social">Twitter</a>
                  <a href="#" class="btn btn-google"><i class="fa fa-google"></i><span class="social">Google</a>
                  <a href="#" class="btn btn-github"><i class="fa fa-github"></i><span class="social">Github</span></a>
                                </div>
                                 <form class="form" role="form" method="post" action="#" accept-charset="UTF-8" id="login-nav" style="padding: 4px;">
                                        <div class="form-group">
                                             <label class="sr-only" for="nav-uname">Email address</label>
                                             <input type="text" class="form-control" id="nav-uname" placeholder="Enter Username" required>
                                        </div>
                                        <div class="form-group">
                                             <label class="sr-only" for="nav-psw">Password</label>
                                             <input type="password" class="form-control" id="nav-psw" placeholder="Password" required>
                                             <div class="help-block text-right"><a href="">Forget your password ?</a></div>
                                        </div>
                                        <div class="form-group">
                                             <button type="button" class="btn btn-primary btn-block" id="btn-login">Sign in</button>
                                        </div>
                                        <div class="checkbox">
                                             <label>
                                             <input type="checkbox" id="nav-remember"> Remember Me
                                             </label>
                                        </div>
                                 </form>
                            </div>
                            <div class="bottom text-center">
                                No account? <a href="/signup"><b>Sign Up Here</b></a>
                            </div>
                     </div>
                </li>
            </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="row">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <h4><font color='blue'>{{ message }} </font></h4>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
	</div> <!-- Header -->
      
<div id="example-table"></div>
<form action="#" method="post" name="Sub" enctype=multipart/form-data class="invis">
{{ form.csrf_token }}
{{ form.name }}
{{ form.username }}
{{ form.selected }}

<div class="well toolbar" id="train-toolbar">
    <div class="col-md-2">
        <b class="function"> Train </b>
    </div>
    <div class="col-md-3">
       <i class="fa fa-database" id="tool-data"><span class="toolbar">Data</span>{{ form.Files }}</i>       
    </div>    
    <div class="col-md-3"> 
      <i class="fa fa-tag" id="tool-labels"><span class="toolbar">Labels</span>{{ form.Labels }}</i>
    </div>
    <div class="col-md-2">
       {{ form.DataType }}
    </div>        
    <div class="col-md-2">
      <input  type="submit" name="submit" value="Import">
    </div>        
</div>

</form>






<script src="static/js/status.js"></script>

{% endblock %}

